.homepage {
  &__notifies {
    &:not(:empty) {
      margin-bottom: 3em;
    }
  }

  &__popular {
    margin-top: 30px;
  }

  &__hints {
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
  }
}
